MAIL_HOST # Host del servicio de email
MAIL_PORT # puerto del servicio de email
MAIL_SECURE # booleano según configuración de seguridad
MAIL_USER # Correo electronico que enia los mails
MAIL_PASS # contraseña de aplicación

PORT # Puerto del servidor
ENVIROMENT # ambiente en el que estoy trabajando